[Unit]
Description=Q-up Django Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Q-up/backend
ExecStart=/home/ubuntu/Q-up/venv/bin/gunicorn \
          --config /home/ubuntu/Q-up/backend/gunicorn_config.py \
          backend.wsgi:application

# Environment variables
Environment="AWS_ACCESS_KEY_ID=AKIARUOHJW7QHCZVOHFR"
Environment="AWS_SECRET_ACCESS_KEY=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"
Environment="AWS_STORAGE_BUCKET_NAME=qup-media-files"
Environment="AWS_S3_REGION_NAME=eu-north-1"
Environment="DJANGO_SETTINGS_MODULE=backend.settings"
Environment="DJANGO_SECRET_KEY=django-insecure-fh&k6=oa(wn$kx!$senwp)y9f2a-r=cfirgc3h(ghogek827wz"

# Restart service if it fails
Restart=on-failure
RestartSec=5s

# Create required directories
ExecStartPre=/bin/mkdir -p /var/log/gunicorn
ExecStartPre=/bin/chown -R ubuntu:www-data /var/log/gunicorn

[Install]
WantedBy=multi-user.target 